@charset "UTF-8";
/* CSS Document */

/* hide GNP tab */
#fdbk_tab {
  display: none;
}
* html .noEscape {
height:1%;
}
html { height: 102%; }
/* Main styles */
body {
  background: url("../images/bg_arches.gif") repeat;
  padding-top: 0;
}

.img-responsive {

min-width: 100%;
}
.auto {
  width: auto;
}
h5 {
  margin-bottom: 0;
}

#logo {
	background: url("../images/logo.png") no-repeat;
	width: 350px;
	height: 98px;	
}

#topNavBasket {
  background: url("../images/shopping-cart-icon.png") left no-repeat;
  color: #777;
}

/* layout */
.container {
  background: #fff;
  padding: 15px;  
  
}
.npo-main .container {
  width: 920px; 
}
.gnp_side_review h2 {
  font-size: 22px;  
}
.wrap {
  position:relative;
  box-shadow:4px 0px 8px #ccc, -4px 0px 8px #ccc;
}
/* extras */
.input_error_msg, .error {
  padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
background-color: #f2dede;
border-color: #ebccd1;
font-weight: bold;
margin-top: 10px;
}
.faqLink {
margin-bottom: 10px;
padding: 0 0 0 12px;
}
.helper {
text-transform: uppercase;
}
.plus {
margin-top: 3px;
clear: both;
background: url("/resources/images/plusminus.gif") no-repeat;
height: 10px;
float: left;
width: 10px;
}
.pagination > .active > a, .pagination > .active > span {
color: #fff;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span {
background-color: #2a6496;
}
a.accordion-toggle {
color: #333;
}
.toggle_active {
background-position: left bottom;
}

.well {
    padding: 10px;
    margin-top: 15px;
}
.well h4 {
  font-weight: bold;  
}

.modal-sm {
  font-size: 10px;
  margin-top: 5px;
display: inline-block;
vertical-align: middle;
margin-left: 10px;
}
.indent {
  margin-left: 10px;
}

.legal, .finePrint {
font-size: 10px;
line-height: 12px;
}
label {
  font-size: 16px;
  font-weight: normal;
}
.btn {
  text-transform: capitalize; 
}
.form_btn {
padding: 2px 6px !important;
}

#login SPAN {
  padding: 0 10px;
  color: #333;  
}
#top_search {
  margin-top: 15px;
}

#top_logo {
  text-align: center
}

#top_search .popover {
  left: 20px !important;
  max-width: none;  
  min-height: 250px !important;
}
.advSearchPop, .topBasketPop {
  width: 370px;
  max-width: none;  
}
.topBasketPop {
  margin-left: -80px;
}
.popover.topBasketPop.bottom .arrow {
  left: 75%;  
}
.popover.advSearchPop.bottom .arrow {
  left: 25%;
}
#basket_icon {
  position: relative; overflow: visible;text-align: center; display: inline-block; height: 35px; vertical-align: middle;
}
#topNavBasket .popover {
  margin-left: -70px;
    min-width: 320px; 
  min-height: 250px !important;
}
#top_search .popover .arrow {
  left: 10% !important; 
}
#top_search .popover .popover-title, #topNavBasket .popover .popover-totle {
  font-weight: bold; 
  font-size: 20px;  
}
.text-info {
  color: #333;
}
#basketNum {
  display: block;
margin-left: 22px;
padding-top: 5px;
width: 25px;
height: 20px;
position: relative;
color: #fff;
z-index: 100;
font-size: 11px;

  
/*  
  display: block;
height: 20px;
line-height: 20px;
min-width: 22px;
color: #333;
position: relative;
z-index: 1;
background: #f5c332;
padding: 0;
font-size: 11px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
*/
}
/* NAV */
 .navbar {
  background: #eee;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;  
  }
     .navbar .navbar-inner {
        padding: 0;
      }
    
    .navbar-nav > li > a {

line-height: 20px;
color: #777777;
    }
    
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
      
        float: none;
      }
      .navbar .nav li a {
        font-weight: normal;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
    text-transform: uppercase;
    font-size: 14px;
    
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
.navbar-inner {
background: #fff !important;
border-radius: 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-right: 0;
border-left: 0;
}

.navbar .brand {
  padding: 5px !important;
  margin-left: 0;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #333;
  }

.navbar .search {
display: block;
float: left;
left: 0px;
margin: 5px 10px 0px 0px;
position: relative;
}

.navbar .search li {
  display: list-item;
  float: left;
  list-style: none;
  margin-left: 20px;
  margin-bottom: 10px;
}
.navbar .btn, .navbar .btn-group {
  margin-top: 0;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
  background: #2F0B54;
  color: #fff;
  text-shadow: none;
}

.navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}

#topNavBasketLaunch:hover {
  background: #2F0B54 url(/resources/images/shopping-cart-icon.png) left no-repeat;  
}

/* FIX BUG WHERE OPENED SUBNAV HAS SCROLLBAR */
.navbar-collapse.in { 
  overflow-y: visible;
  height: auto;
border: 1px solid #eee;
padding: 0;
margin-right: 20px;
}
.navbar-collapse {
  max-height: none;
  }



/* SUBNAVS */
.nav-list > li > a {
  color: #333;  
}

.top_login .dropdown-menu {
  margin-left: -130px;
}
.navbar .nav li ul li {
  display: block;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  
}
.nav .dropdown-menu li a {
  border-right: 0;
}
.dropdown-menu {
  left:auto;
}

 .navbar-toggle {
    background: #333; 
 }
 .icon-bar {
   background: #fff;
 }

 .headerBtn {
  padding: 10px 5px; 
  margin-top: 15px;
  width: 100%;
 }
 .headerBtn A {
  color: #fff;  
}
#top_search, #top_login {
  margin-top: 0;  
}

#advSearchContent {
  left: 20px !important;
max-width: none;
min-height: 250px !important;
}

#results_searchOptions {
        background: #777; 
        color: #fff; 
        padding: 5px 15px 10px 15px;
}

#results_searchOptions A {
  color: #fff;
}

/* PURPLE BUTTON */
.btn {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background-color: #2F0B54;
  *background-color: #2F0B54;
  background-image: -moz-linear-gradient(top, #9268BD, #2F0B54);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9268BD), to(#2F0B54));
  background-image: -webkit-linear-gradient(top, #9268BD, #2F0B54);
  background-image: -o-linear-gradient(top, #9268BD, #2F0B54);
  background-image: linear-gradient(to bottom, #9268BD, #2F0B54);
  background-repeat: repeat-x;
  border-color: #2F0B54;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9268BD', endColorstr='#2F0B54', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #FFFFFF;
  background-color: #2F0B54;
  *background-color: #003bb3;
}
/* PROMO BUTTON */
.btn-promo {
  color: #454544;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fed164;
  background-image: -moz-linear-gradient(top, #fff9eb, #fed164);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff9eb), to(#fed164));
  background-image: -webkit-linear-gradient(top, #fff9eb, #fed164);
  background-image: -o-linear-gradient(top, #fff9eb, #fed164);
  background-image: linear-gradient(to bottom, #fff9eb, #fed164);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9eb', endColorstr='#fed164', GradientType=0);
  border-color: #fdfcfc #fdfcfc #fdfcfc;
  border-color: rgba(255,255,255, 0.5) ;
  *background-color: #fed164;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-promo:hover,
.btn-promo:focus,
.btn-promo:active,
.btn-promo.active,
.btn-promo.disabled,
.btn-promo[disabled] {

  background-color: #fed164;
  *background-color: #fed164;
}
.btn-promo:active,
.btn-promo.active {
  background-color: #c67605 \9;
}


/* END PROMO BUTTON */

/* GREY FORM BUTTON */
.btn-grey, .btn-inactive {
  text-shadow: none;
  color: #333;
  
  background-color: #e7e5e5;
  background-image: -moz-linear-gradient(top, #fff, #e7e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e7e5e5));
  background-image: -webkit-linear-gradient(top, #fff, #e7e5e5);
  background-image: -o-linear-gradient(top, #fff, #e7e5e5);
  background-image: linear-gradient(to bottom, #fff, #e7e5e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e7e5e5', GradientType=0);
  border-color: #e1e0e0 #e1e0e0 #e1e0e0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e7e5e5;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 4px 8px;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.btn-grey.disabled,
.btn-grey[disabled],
.btn-inactive:hover,
.btn-inactive:focus,
.btn-inactive:active,
.btn-inactive.active,
.btn-inactive.disabled,
.btn-inactive[disabled] {
  color: #333;
  background-color: #e7e5e5;
  *background-color: #e7e5e5;
}
.btn-grey:active,
.btn-grey.active,
.btn-inactive:active,
.btn-inactive.active {
  background-color: #24748c \9;
}

/* END GREY FORM BUTTON */
/* FORMS */
.input-group-addon {
padding: 2px 12px;
}

/* END FORMS */
/* OVERLAYS */
 #hover-cap-4col .thumbnail, #hover-cap-3col .thumbnail, #hover-cap-unique .thumbnail, #hover-cap-6col .thumbnail {
        position:relative;
        overflow:hidden;
    }
    .back-text {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(75,48,106,0.9);
        width: 100%;
        height: 100%;
        color:#fff !important;
    }
    .back-text p {
        padding: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    }

    .back-text-btm{
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 4px;
        color: #fff;
    }
/* END OVERLAYS */
/* COLORS */
.turq {
   background: #04657b; 
}

.red {
  background: #7b0404;
}

.strong_orange {
  background: #d26021;
}

.green {
  background: #036a13;
}

.dk_purple {
  background: #4c2f67;
}
.soft_red {
  background: #d35147;
  }
.pink {
background: #c3196d;
}
.cyan {
  background: rgba(4,101,123, 1);
}

.lime-green {
  background: #036a13;
}
  
/* END COLORS */

/* groupings */
.donation_item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/* FOOTER */
#footer {
  background: #777;
  color: #fff;  
  line-height: 24px;
  padding: 10px;
  margin: 20px -15px 0 -15px;
}

#footer A {
  color: #fefefe;
  font-size: 14px;
  margin-bottom: 10px;
  }
#footer A:hover {
    
}
#footer h3 {
  text-transform: uppercase;  
  margin: 9px 0 0 0;
  color: #fefefe;
}
#footer IMG {
  width: auto;
}

#terms .modal-content{
  color: #333;  
  padding: 20px;
}

#terms A {
  color: #2a6496; 
}
div#menubottom {
background-color: #ffffff;
text-align: left;
font: 10px arial;
color: #aaa;
}
div#menubottom a {
color: #666;
}
/*#social_footer h3, #newsletter_footer h3 {
  color: #333;  
}*/
.rssFeed P {
line-height: 16px;
}
.rssRow h5 {
  text-transform:uppercase;
  margin-top: 0;  
}
.topnav_footer A, .topnav_footer LI, .topnav_footer h4 {
  color: #fff;  
}
.topnav_footer A {
  
}
.topnav_footer UL {
margin: 0;  
}
.topnav_footer LI {
  float: left;
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}
.topnav_footer h4 {
  clear: both;  
}
/*#social_footer, #newsletter_footer {
  padding: 5px;
    margin: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 #ccc;
  -moz-box-shadow: inset 0 1px 0 #ccc;
  box-shadow: inset 0 1px 0 #ccc; 
}*/

#social_footer IMG {
  width: 30px;  
}

.slider {

  width:300px;

  height: 140px;

}
/* Pagination */
.blog_pages {
    margin: 0;
    padding: 0;
  } 
  .blog_pages li {
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0;
    list-style: none;
    font-size: 0.8em;
  }
  .blog_pages li a, .blog_pages li.current a {
    float: left;
    padding: 0.3em 0.5em;
    line-height: 1;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #888;
    outline: none;
  }
  .blog_pages li a:hover { border-color: #444; }
  .blog_pages li.current a {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
  .blog_pages li a {
    color: #000;
    background: #ccc;
    background: rgba(204,204,204,0.65);
    border: 1px solid #444;
  }
  .blog_pages li a:hover {
    background: #aaa;
    background: rgba(170,170,170,0.65);
  }
  .blog_pages li.current a {
    background: #222;
    background: rgba(34,34,34,0.65);
  }
.slider, .slider li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .slider li { float: left; }

  .sliderItem {}

  .sliderPrevious, .sliderNext {}
#more_blog {
  margin-top: .5em;
}
@media (max-width: 480px) {
  #top_logo IMG {
    width: 100%;
    float: left;
    margin-bottom: 5px; 
  }
  .navbar-toggle {
    margin-bottom: 0;
  }
}


@media (max-width: 767px) {
.navbar-toggle {
  
  z-index: 111;
}
.navbar .nav li {
  display: list-item;
}

.secondary .span6 IMG {
  float: none;
  width: 100%;
}

#donation_intro {
  display: none;  
}

.donation_review {
  display: none;  
}

.navbar {
  position: absolute;
  top: 0;
  right: 20px;
  background: none;
  z-index: 999;
  background: #fff;
  padding-bottom: 20px;
}
.navbar .nav {
  margin-top: 30px;
}
.navbar .nav li a {
  text-align: left; 
  border-right: none;
}

#topNavBasketLaunch  {
padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
color: #777777;
border-radius: 4px;
padding-left: 15px !important;
}
.navbar .navbar-inner {
  border: 0;
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important; 
}

.mktg_standout {
  
  border-top: 1px solid #eee;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background: #eee;
}
.navbar-nav .open .dropdown-menu {
  background: #ccc;
}

#givingHistoryNav {
  float: left;
  margin-left: 5px;
    
}
#registry_nav {
  margin-top: 20px;
}

#registry_nav .nav-tabs > li {
  width: 100%;
  background: none; 
}
#registry_nav .nav-tabs > li > a {
  border: none;
}
#registry_nav .nav-tabs > li.tab_account-active {
  background: #FFC63B;  
}
.navbar-toggle {
  margin-top: 3px;  
}
}

@media (min-width: 768px) {
.headerBtn {
display: none;
}

.search, .loginLinks {
  display: block !important;
}
#top_search, #top_login {
  margin-top: 30px;
}

}
@media (min-width: 768px) and (max-width: 979px) {
.row {
margin-left: 0px;
}
.offset9 {
margin-left: 500px;

}
.editButtons {
  text-align: center; 
}
.editButtons A {
  margin-top: 5px;
margin-bottom: 5px;
}

.span5 {
  width:470px;
}
.row-fluid .span3 {
  min-width: 160px; 
}
}
@media (max-width: 979px) {
  #donation_include, #donate_form {
  width: 100% !important; 
}
}
@media (min-width: 980px) and (max-width: 1199px) {
#top_search,#top_login {
margin-top: 30px;
}

}
@media (max-width: 1000px) {
  #np_login span {
    display: none;  
  }
  
  #top_login #np_login {
    float: right;
  }
  #top_logo img {
    width: 40%; 
  }
  #main_header .col-push-4 {
    left: 0;
  }
  #main_header .col-pull-4 {
    right: 0;
  }
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 25%;
  }
  
}
@media (min-width: 1001px){
  .advSearchPop {
    margin-left: 140px;
  }
}
@media (max-width: 1200px) {
  #topNavBasket {
  background: none !important;
}
  #topNavBasketLaunch:hover {
  background-image: none !important;  
  }
  #basketNum {
    display: none;
  }
}
#donation_include, .wide, #donate_form {
  
  margin-left: 0;
}


.shadow {
        margin: 20px;
        -moz-box-shadow: 3px 3px 4px #666;
        -webkit-box-shadow: 3px 3px 4px #666;
        box-shadow: 3px 3px 4px #666;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
        /* For IE 5.5 - 7 */
        filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}
.shadow IMG {
        border: 0;
}
.shadow P {
        font-family: Gill Sans, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #000;
}
.shadow IMG, .shadow P {
        filter:  "progid:DXImageTransform.Microsoft.shadow(enabled=false)";
        -ms-filter:  "progid:DXImageTransform.Microsoft.shadow(enabled=false)";
}
.shadow A {
        text-decoration: none;
}
